header {
    height: 80px;
    background: burlywood;
}

main {
    height: 1000px;
    background: skyblue;
}

.footer-1 {
    padding-top: 60px;
    padding-left: 50px;
    height: 400px;
    background: black;
    color: white;

}
.footer_icon {
    border-radius: 40px;
    height: 40px;
    width: 39px;
    background-color: dimgray;
    transition: background-color 2s; /* Add a smooth transition for a better effect */
    cursor: pointer;

}

.footer_icon:hover {
    background-color: darkslategrey;
}

.footer_link{
    height:45px;
    width: 50px;
    background: grey;
    margin-left: 5px;
    border-radius: 5px;
}